.parent {
    display: flex;
    justify-content: left;

}

.p{
    font-size: 30px;
    color: rgb(1, 1, 65);
}

.ul {
    display: flex;
    justify-self: right;
}

li {
    font-size: 20px;
    color: rgb(1, 1, 65);
    justify-content: right;
    display: inline-block;
    list-style: none;
    display: inline;
}

img {
    width: 500px;
    height: 300px;
    position: fixed;
    top: 10;
    right: 0;
}

div h2 {
    font-size: 45px;
    font-weight:lighter;
    color: black;
}

.relative {
    position: relative;
    top: 0px;
    left: 0px;
}

.blue-box {
    width: 800px;
    height: 150px;
    position: fixed;
    top: 300px;
    left:0;
    z-index: -1;
    background-color: rgb(19, 19, 136);
}